:root {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #00ff00;
} 

body {
  margin: 0;
  display: flex;
  min-width: 100%; /*320px;*/
  min-height: 100vh;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.1;
}


@media (max-width: 600px) {
  h1 {
  font-size: 1.8rem;
  }
} 
